streamlit
langchain==0.3.25
langchain-community==0.3.23
langchain-google-genai
langchain-text-splitters
langchain-core
langchain-groq
langgraph
chromadb==0.4.24
pypdf
python-dotenv
tavily-python
google-generativeai
numpy==1.26.4
grpcio
zstandard==0.22.0